.avatar-wrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
    transition:0.4s;
}

.avatar-image{
    width:280px;
    height:auto;
    user-select:none;
    pointer-events:none;
    animation:floatAvatar 4s ease-in-out infinite;
    transition:0.2s;
}

.avatar-status{
    margin-top:20px;
    background:#111827;
    color:white;
    padding:10px 25px;
    border-radius:30px;
    font-size:16px;
    font-weight:600;
    letter-spacing:.5px;
}

/* Floating Animation */

@keyframes floatAvatar{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }

}

/* Speaking */

.avatar-wrapper.speaking .avatar-image{

    filter:drop-shadow(0 0 25px #8b5cf6);

    transform:scale(1.02);

}

/* Listening */

.avatar-wrapper.listening .avatar-image{

    filter:drop-shadow(0 0 20px #22c55e);

}

/* Thinking */

.avatar-wrapper.thinking .avatar-image{

    filter:drop-shadow(0 0 25px #3b82f6);

}

/* Idle */

.avatar-wrapper.idle .avatar-image{

    filter:none;

}